/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-camalote-wp-cover-article__inner {
	position: relative;

	& .wp-block-camalote-wp-cover-article__image-link {
		display: block;
		width: 100%;
	}

	& .wp-block-camalote-wp-cover-article__image {
		aspect-ratio: 16/9;
		display: block;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	& .wp-block-camalote-wp-cover-article__meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--style--block-gap);
	}

	& .wp-block-separator {
		margin-top: var(--wp--preset--spacing--30);
	}
}

@media screen and (width >= 782px) {

	.wp-block-camalote-wp-cover-article__inner {

		&--has-image {

			& .wp-block-camalote-wp-cover-article__content {
				bottom: 0;
				color: var(--wp--preset--color--white);
				left: 0;
				padding: var(--wp--preset--spacing--50);
				position: absolute;
			}

			& .wp-block-camalote-wp-cover-article__media {
				aspect-ratio: 16/9;
			}

			& .wp-block-camalote-wp-cover-article__media::after {
				background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 100%);
				content: "";
				inset: 0;
				position: absolute;
			}

			& .wp-block-separator {
				display: none;
			}
		}

		&--no-image {

			/* Styles for when there is no image */
			& .wp-block-camalote-wp-cover-article__content {
				padding-bottom: var(--wp--preset--spacing--50);
				padding-top: var(--wp--preset--spacing--50);
			}

			& .wp-block-separator {
				margin-top: unset;
			}

		}
	}
}
